@model List<AgroPhytoApp.Models.Produs>

@{
    ViewData["Title"] = "Programări";
}

<div class="container mt-5">

    <h1 class="text-center mb-5">
        Programări Medicale
    </h1>

    <a asp-action="Create"
       class="btn btn-primary mb-4">

        Adaugă Programare

    </a>

    <div class="row">

        @foreach (var produs in Model)
        {
            <div class="col-md-4 mb-4">

                <div class="card shadow-lg h-100">

                    <div class="card-body">

                        <h4>
                            @produs.Nume
                        </h4>

                        <p>
                            <strong>Descriere:</strong>
                            @produs.Descriere
                        </p>

                        <p>
                            <strong>Taxă Consultație:</strong>
                            @produs.TaxaConsultatie RON
                        </p>

                        <p>
                            <strong>Număr Analize:</strong>
                            @produs.NrAnalize
                        </p>

                        <p>
                            <strong>Total:</strong>
                            @produs.Pret RON
                        </p>

                        <p>
                            <strong>Data:</strong>
                            @produs.DataProgramare
                        </p>

                        <p>
                            <strong>Status:</strong>
                            @produs.StatusProgramare
                        </p>

                        <a asp-action="Edit"
                           asp-route-id="@produs.Id"
                           class="btn btn-warning w-100 mb-2">

                            Edit

                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@produs.Id"
                           class="btn btn-danger w-100">

                            Delete

                        </a>

                    </div>

                </div>

            </div>
        }

    </div>

</div>